@using Microsoft.AspNetCore.WebUtilities
@using System.Security.Claims
@using global::Shared.Models
@inject AppState appState

<!DOCTYPE html>
<html lang="en">

@{
    string themeName = "material3";

    themeName = appState.IsDarkMode ? "material3-dark" : "material3";

    string da = themeName;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    @*     <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    *@
    <script src="_content/Syncfusion.Blazor/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />


    @*     <HeadOutlet @rendermode="InteractiveServer" />
    *@
    <link href=@("_content/Syncfusion.Blazor.Themes/" + themeName + ".css") rel="stylesheet" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />

    @*     <Routes @rendermode="InteractiveServer" />
    *@
    <script src="js/interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
</body>

</html>