@using MultiAppServer.ServiceDefaults
@inject HttpClient Http
<AuthorizeView>
    <span>Current Tenant: @tenant.Name</span>
</AuthorizeView>
@code {
    TenantModel tenant = new TenantModel();

    protected override async Task OnParametersSetAsync()
    {
        var apiResponse = await Http.GetNewtonsoftJsonAsync<ApiResponseDto<TenantModel>>("api/admin/tenant");
        if (apiResponse.StatusCode == 200)
        {
            tenant = apiResponse.Result;
        }
    }
}