@using MultiAppServer.ServiceDefaults
@inject AccountApiClient accountClientApi
<AuthorizeView>
    <span>Current Tenant: @tenant.Name</span>
</AuthorizeView>
@code {
    TenantModel tenant = new TenantModel();

    protected override async Task OnParametersSetAsync()
    {
        var apiResponse = await accountClientApi.GetTenant();
        if (apiResponse.StatusCode == 200)
        {
            tenant = apiResponse.Result;
        }
    }
}