/* YourDialogComponent.razor.css */
.dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* You might need to adjust this according to your layout */
}


.progress-circular {
    width: 120%;
    height: 120%;
}
