@page "/logout"
@using WebApp.Components.Pages.Account
@model LogoutModel

<form method="post"></form>

@section Scripts {
    <script>
        window.onload = function () {
            document.forms[0].submit();
        };
    </script>
}