@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Title";
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">Error</p>
</header>