<!-- GlobalLoadingIndicator.razor -->
@inject ILoadingService LoadingService
@using BlazorWeb.Services
@using MudBlazor

<MudDialog DisableBackdropClick="true" DisableEscapeKeyDown="true">
    <DialogContent>
        <div class="dialog-content">
            <MudProgressCircular Indeterminate="true" />
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    protected override void OnInitialized()
    {
        LoadingService.OnLoadingChanged += HandleLoadingChanged;
    }

    private void HandleLoadingChanged(bool isLoading)
    {
        IsLoading = isLoading;
        StateHasChanged();
    }

    public void Dispose()
    {
        LoadingService.OnLoadingChanged -= HandleLoadingChanged;
    }
}